<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>The Tech Blog</title>
</head>

<header class="display-flex w-100">
    <form action="/home" class="inline">
        <button class="float-left submit button">Home</button>
    </form>

    <form action="/dashboard" class="inline">
        <button class="float-left submit button">Dashboard</button>
    </form>

    <form action="/logout" class="inline">
        <button class="float-left submit button">Logout</button>
    </form>
</header>

<body>
    {{{ body }}}
</body>
</html>